src/main/java/chat/chickentalk/util/Mailer.java
src/main/webapp/WEB-INF/classes
.idea/
*.iml
*.ini
target/
.classpath
.project
.settings/
src/main/resources/META-INF/beans.xml
src/main/webapp/WEB-INF/beans.xml
src/main/webapp/WEB-INF/static/js/webrtcKeys.js
