body {
  background-color: #dfdfdf;
  color: #474c55;
  overflow-x: hidden;
  font-family: "Poppins", calibri, helvetica-neue, helvetica, arial, sans-serif; }

h1, h2, h3, h4 {
  font-family: "Montserrat", calibri, helvetica-neue, helvetica, arial, sans-serif; }

video {
  width: 100%; }

em {
  font-style: normal !important;
  font-weight: bold !important; }

nav {
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #484c55;
  border-bottom: 1px solid #707070; }
  nav ul {
    margin-left: 25%;
    list-style-type: none;
    padding: 0; }
    nav ul a {
      font-family: "Montserrat", calibri, helvetica-neue, helvetica, arial, sans-serif !important;
      border-right: 1px solid #707070;
      width: 15%;
      float: left;
      text-align: center;
      font-size: 0.8em;
      min-height: 3em;
      padding: 1em 0 1em 0;
      text-decoration: none;
      font-weight: bold;
      text-transform: uppercase;
      color: #bbb; }
      nav ul a:hover {
        text-decoration: none;
        color: #ffaedf; }
      nav ul a:last-child {
        border: none; }
      nav ul a li {
        padding: 0; }

#main-desc {
  margin-top: -3em; }
  #main-desc .btn {
    margin-top: 0.5em; }
  #main-desc .form-control {
    margin-bottom: 0;
    border-radius: 0; }
  #main-desc h1 {
    font-size: 6em;
    margin-bottom: 1em; }
    #main-desc h1 a {
      text-decoration: underline; }
  #main-desc #desc {
    z-index: 20;
    margin-top: 10em;
    margin-bottom: 10em;
    color: #fff;
    text-shadow: 1px 1px 0px black; }
    #main-desc #desc h1 {
      text-align: center; }

#currentAvatar {
  text-align: center; }
  #currentAvatar img {
    padding: 3px;
    border: 1px solid #777;
    max-width: 100%; }

.file-preview {
  display: none; }

#profilePageHeader {
  text-align: center;
  margin-top: 1em;
  margin-bottom: 1.5em; }

#leaderboard {
  padding: 5em;
  padding-top: 1em; }
  #leaderboard .leaderboardContainer {
    width: 80%;
    margin-left: 10%;
    padding: 2em;
    margin-bottom: 2em; }
    #leaderboard .leaderboardContainer h1 {
      text-align: center;
      margin-bottom: 1em; }
    #leaderboard .leaderboardContainer table td {
      cursor: pointer; }
    #leaderboard .leaderboardContainer table th {
      font-weight: bold !important;
      text-transform: uppercase; }

.white-container {
  background-color: #fff;
  border: 1px solid #999;
  margin-bottom: 5em;
  padding: 2em;
  box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.25); }

#leaderboard, #profile-container {
  margin-top: 5em; }

#profile-container {
  width: 70%;
  margin-left: 15%;
  padding: 4em; }

#globalChatContainer {
  position: relative;
  background-color: #dadada;
  border-left: 1px solid #c6c6c6; }
  #globalChatContainer #chatboxContainer #chatbox {
    padding: 1em;
    overflow: scroll; }
  #globalChatContainer #messageContainer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #c6c6c6;
    padding: 14px; }
    #globalChatContainer #messageContainer input {
      height: 40px;
      padding: 5px;
      width: 100%; }
  #globalChatContainer #userList {
    display: none;
    position: fixed;
    top: 100px;
    right: 100px;
    background-color: #f00; }

#spotlight-col {
  margin-top: 5em; }

#waitingContainer {
  text-align: center;
  padding-top: 5em; }
  #waitingContainer h2 {
    margin-bottom: 1em; }

#timerContainer {
  text-align: center; }
  #timerContainer #seconds {
    font-weight: bold !important; }

/*# sourceMappingURL=main.css.map */
