$font-stack: 'Poppins', calibri, helvetica-neue, helvetica, arial, sans-serif
$font-stack2: 'Montserrat', calibri, helvetica-neue, helvetica, arial, sans-serif

$primary-color: #29BF12
$secondary-color: #F21B3F
$tertiary-color: #08BDBD
$quaternary-color: #FF9914

$darkGrey: rgb(72,76,85)

$bg-color: #dfdfdf


body
  background-color: $bg-color
  color: rgb(71, 76, 85)
  overflow-x: hidden
  font-family: $font-stack
  padding-top: 5em

h1, h2, h3, h4
  font-family: $font-stack2

video
  width: 100%


nav
  //transition: opacity .2s ease-out
  //opacity: 0
  z-index: 100
  position: fixed
  top: 0
  left: 0
  width: 100%
  background-color: $darkGrey
  border-bottom: 1px solid #707070
  ul
    margin-left: 20%
    list-style-type: none
    padding: 0
    a
      font-family: $font-stack2 !important
      border-right: 1px solid #707070
      width: 15%
      float: left
      text-align: center
      font-size: .8em
      min-height: 3em
      padding: 1em 0 1em 0
      text-decoration: none
      font-weight: bold
      text-transform: uppercase
      color: #bbb
      &:hover
        text-decoration: none
        color: #ffaedf
      &:last-child
        border: none
      li
        padding: 0



#main-desc
  margin: -5em
  position: relative
  overflow: hidden
  min-height: 1000px
  background-color: #222 !important
  //z-index: -2
  .form-control
    margin-bottom: 0
    border-radius: 0
  h1
    font-size: 6em
    margin-bottom: 1em
  video
    opacity: .15
    //z-index: -1
    height: 10000px
    position: absolute
    top: 0
    left: 0
    min-height: 100%
    min-width: 100%
    overflow: hidden
    background: #222 url('../img/chicken-bg.jpeg')
    background-size: 100%
  #desc
    z-index: 20
    width: 75%
    margin-left: 25%
    margin-top: 10em
    margin-bottom: 10em
    //text-align: center
    color: #fff
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 1)

#about
  background-color: #f00
  padding: 5em

#currentAvatar
  text-align: center
  img
    padding: 3px
    border: 1px solid #777
    max-width: 100%
.file-preview
  display: none

#profilePageHeader
  text-align: center
  margin-top: 1em
  margin-bottom: 1.5em