$font-stack: 'Poppins', calibri, helvetica-neue, helvetica, arial, sans-serif
$font-stack2: 'Montserrat', calibri, helvetica-neue, helvetica, arial, sans-serif

$primary-color: #29BF12
$secondary-color: #F21B3F
$tertiary-color: #08BDBD
$quaternary-color: #FF9914

$darkGrey: rgb(72,76,85)
$border-color: #999

$bg-color: #dfdfdf


body
  background-color: $bg-color
  color: rgb(71, 76, 85)
  overflow-x: hidden
  font-family: $font-stack

h1, h2, h3, h4
  font-family: $font-stack2

video
  width: 100%

em
  font-style: normal !important
  font-weight: bold !important

nav
  z-index: 100
  position: fixed
  top: 0
  left: 0
  width: 100%
  background-color: $darkGrey
  border-bottom: 1px solid #707070
  ul
    margin-left: 25%
    list-style-type: none
    padding: 0
    a
      font-family: $font-stack2 !important
      border-right: 1px solid #707070
      width: 15%
      float: left
      text-align: center
      font-size: .8em
      min-height: 3em
      padding: 1em 0 1em 0
      text-decoration: none
      font-weight: bold
      text-transform: uppercase
      color: #bbb
      &:hover
        text-decoration: none
        color: #ffaedf
      &:last-child
        border: none
      li
        padding: 0


#main-desc
  margin-top: -3em
  .btn
    margin-top: .5em
  .form-control
    margin-bottom: 0
    border-radius: 0

  h1
    font-size: 6em
    margin-bottom: 1em
    a
      text-decoration: underline
  #desc
    z-index: 20
    margin-top: 10em
    margin-bottom: 10em
    color: #fff
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 1)
    h1
      text-align: center


#currentAvatar
  text-align: center
  img
    padding: 3px
    border: 1px solid #777
    max-width: 100%
.file-preview
  display: none

#profilePageHeader
  text-align: center
  margin-top: 1em
  margin-bottom: 1.5em

#leaderboard
  padding: 5em
  padding-top: 1em

  .leaderboardContainer
    width: 80%
    margin-left: 10%
    padding: 2em
    margin-bottom: 2em

    h1
      text-align: center
      margin-bottom: 1em
    table
      td
        cursor: pointer
      th
        font-weight: bold !important
        text-transform: uppercase


.white-container
  background-color: #fff
  border: 1px solid $border-color
  margin-bottom: 5em
  padding: 2em
  box-shadow: 0px 3px 10px 0px rgba(0,0,0,0.25)

#leaderboard, #profile-container
  margin-top: 5em

#profile-container
  width: 70%
  margin-left: 15%
  padding: 4em

#globalChatContainer
  position: relative
  background-color: #dadada
  border-left: 1px solid #c6c6c6

  #chatboxContainer
    #chatbox
      padding: 1em
      overflow: scroll

  #messageContainer
    position: absolute
    bottom: 0
    left: 0
    width: 100%
    background-color: #c6c6c6
    //border-top: 1px solid $darkGrey
    padding: 14px
    input
      height: 40px
      padding: 5px
      width: 100%

  #userList
    display: none
    position: fixed
    top: 100px
    right: 100px
    background-color: #f00


#spotlight-col
  margin-top: 5em

#waitingContainer
  text-align: center
  padding-top: 5em
  h2
    margin-bottom: 1em

#timerContainer
  text-align: center
  #seconds
    font-weight: bold !important