$font-stack: 'Poppins', calibri, helvetica-neue, helvetica, arial, sans-serif
$font-stack2: 'Montserrat', calibri, helvetica-neue, helvetica, arial, sans-serif

$primary-color: #29BF12
$secondary-color: #F21B3F
$tertiary-color: #08BDBD
$quaternary-color: #FF9914

$darkGrey: rgb(72,76,85)

$bg-color: #dfdfdf


body
  background-color: $bg-color
  color: rgb(71, 76, 85)
  overflow-x: hidden
  font-family: $font-stack
  padding-top: 5em

h1, h2, h3, h4
  font-family: $font-stack2

video
  width: 100%


nav
  //transition: opacity .2s ease-out
  //opacity: 0
  z-index: 100
  position: fixed
  top: 0
  left: 0
  width: 100%
  background-color: $darkGrey
  border-bottom: 1px solid #707070
  ul
    margin-left: 14%
    list-style-type: none
    padding: 0
    a
      font-family: $font-stack2 !important
      border-right: 1px solid #707070
      width: 12%
      float: left
      text-align: center
      font-size: .8em
      min-height: 3em
      padding: 1em 0 1em 0
      text-decoration: none
      font-weight: bold
      text-transform: uppercase
      color: #bbb
      &:hover
        text-decoration: none
        color: #ffaedf
      &:last-child
        border: none
      li
        padding: 0



