doctype html
html
    head
        title #Chicken
        meta(name='viewport', content='width=device-width, initial-scale=1')
        meta(charset='utf-8')
        link(rel='icon', href='img/chicken.ico')
        link(rel='stylesheet', type='text/css', href='lib/bootstrap.min.css')
        link(rel='stylesheet', type='text/css', href='lib/Poppins.font')
        link(rel='stylesheet', type='text/css', href='lib/Montserrat.font')
        link(rel='stylesheet', type='text/css', href='css/main.css')

        script(src='lib/jquery-3.2.1.min.js')
        script(src='lib/bootstrap.min.js')
        script(src='js/main.js')
    body
        // Navigation bar/menu
        nav

        // "What is This?" container
        #about
            p Hello, world!

        // "Leaderboard" container
        #leaderboard

        // "Registration" container
        #registration
            form(name='register', action='register-servlet')
                input#first-name(type='text', placeholder='Enter your first name.')
                input#last-name(type='text', placeholder='Enter your last name.')
                input#email(type='text', placeholder='Enter your email.')
                input#password(type='text', placeholder='Enter your password.')
                input#password-confirm(type='text', placeholder='Enter your password again.')

        // "Footer" container
        footer

